body{
	margin: 0;
	paddin: 0;
	background: url(img/bground.jpg) fixed;
	background-size: cover;
	position: absolute;
}

.box{
	width: 1349px;
	height: 55px;
	background: rgba(252, 185, 243, 0.3);
	margin-left: 0%;
	margin-top: 2%;
}

.floating-img {
	width: 55px;
	height:50px;
	margin-left: 30%;
	margin-top: 0%;
}
 
 .floating-im {
	width: 55px;
	height:50px;
	margin-left: 2%;
	margin-top: .2%;
}
	
.floating-iiii {
	width: 55px;
	height:50px;
	margin-left: 2%;
	margin-top: .2%;
}

.floating-i {
	width: 55px;
	height:50px;
	margin-left: 2%;
	margin-top: .2%;
}

.floating-imag{
	width: 55px;
	height:50px;
	margin-left: 2%;
	margin-top: .2%;
}

.floating-iimage {
	width: 55px;
	height:50px;
	margin-left: 2%;
	margin-top: .2%;
}

.floating-iii {
	width: 55px;
	height:50px;
	margin-left: 2%;
	margin-top: .2%;
}

.floating-box {
    display: inline-block;
	width: 480px;
    height: 45px;
	margin-top: 2%;
    margin-left: 7%; 
	text-top: top-center;
	font-family: 'Bradley hand ITC', sans-serif;
}

.floating-box-img{
	width: 300px; 
	height: 450px;
	margin: right;
    margin-left: 20%;
	margin-top: -5%;	
	position: absolute;
	left: -19px;
	top: 15%;
	border-radius: 40px;
}

.bottom{
	width: 1349px;
	height: 55px;
	margin-left: 0%;
	margin: buttom;
	margin-top: %;
}