body{
	margin: 0;
	paddin: 0;
	background: url(img/bground.jpg) fixed;
	background-size: cover;
	position: absolute;
}

.box{
	width: 1349px;
	height: 55px;
	background: rgba(252, 185, 243, 0.3);
	margin-left: 0%;
	margin-top: 2%;
}
	