body{
	margin: 0;
	padding: 0;
	background: url(img/bground.jpg) fixed;
	background-size: cover;
	position: absolute;
}

.box{
	width: 1349px;
	height: 55px;
	background: rgba(252, 185, 243, 0.3);
	margin-left: 0%;
	margin-top: 2%;
}

.floating-img {
	width: 55px;
	height:50px;
	margin-left: 30%;
	margin-top: 0%;
}
 
 .floating-im {
	width: 55px;
	height:50px;
	margin-left: 2%;
	margin-top: .2%;
}

.floating-i {
	width: 55px;
	height:50px;
	margin-left: 2%;
	margin-top: .2%;
}

.floating-imag{
	width: 55px;
	height:50px;
	margin-left: 2%;
	margin-top: .2%;
}

.floating-iiii {
	width: 55px;
	height:50px;
	margin-left: 2%;
	margin-top: .2%;
}

.floating-iimage {
	width: 55px;
	height:50px;
	margin-left: 2%;
	margin-top: .2%;
}

.floating-iii {
	width: 55px;
	height:50px;
	margin-left: 2%;
	margin-top: .2%;
}

.bottom{
	width: 1349px;
	height: 55px;
	margin-left: 0%;
	margin: buttom;
	margin-top: %;
}

.img {
	width: 55px;
	height:50px;
	margin-left: 41.5%;
	margin-top: 2%;
}

.im {
	width: 55px;
	height:50px;
	margin-left: 2%;
	margin-top: 1%;
}

.i {
	width: 55px;
	height:50px;
	margin-left: 2%;
	margin-top: 1%;
}

.foot{
	width: 1349px;
	height: 50px;
	margin-left: 0%;
	margin-top: 85%;
	text-align: center;
	font-family: 'Century Gothic', sans-serif;
	font-size: 12px;
}

*{
	box-sizing: border-box;
}


.body{
	margin:0;
}

.column {
	float:left;
	padding 10px;
	height: 300px;
}

.left{
	width:65%;
	height: 1100px;
	text-align: center;
}

.left h1{
	font-size: 40px;
}

.left h2{
	text-align: left;
	margin-top: 5%;
	margin-left: 20%;
	font-size: 23px;
	font-family: 'Century Gothic', sans-serif;
}

.left p{
	text-align: left;
	margin-left: 30%;
	font-size: 15px;
	font-family: 'Century Gothic', sans-serif;
}

.right{
	width:25%;
	height: 1000px;
}

.row:after{
	content="";
	display: table;
	clear: both;
}

.row{
	margin-top: 2%;
	margin-left: 10%;
	font-family: 'Bradley Hand ITC', sans-serif;
}

.image{
	width: 100px;
	height: 200px;
}

.box-img{
	width: 300px;
	height: 800px;
	margin-top: 3%;
	margin-left: 25%;
}
