body{
	margin: 0;
	padding: 0;
	background: url(img/bground.jpg) fixed;
	background-size: cover;
	position: absolute;
}

.b{
	width: 1349px;
	height: 55px;
	background: rgba(252, 185, 243, 0.3);
	margin-left: 0%;
	margin-top: 2%;
}


.floating-iiii{
	width: 55px;
	height:50px;
	margin-left: 2%;
	margin-top: .2%;
} 

.floating-img {
	width: 55px;
	height:50px;
	margin-left: 30%;
	margin-top: 0%;
}
 
 .floating-im {
	width: 55px;
	height:50px;
	margin-left: 2%;
	margin-top: .2%;
}

.floating-i {
	width: 55px;
	height:50px;
	margin-left: 2%;
	margin-top: .2%;
}

.floating-imag{
	width: 55px;
	height:50px;
	margin-left: 2%;
	margin-top: .2%;
}

.floating-iimage {
	width: 55px;
	height:50px;
	margin-left: 2%;
	margin-top: .2%;
}

.floating-iii {
	width: 55px;
	height:50px;
	margin-left: 2%;
	margin-top: .2%;
}

.box{
	float: top;
	height: 385px;
	width: 950px;
	background: rgba(0, 0, 0, 0.1);
	text-align: center;
	margin: auto;
	margin-top: 1%;
	margin-left: 15%;
	color: black;
	font-family: 'Bradley Hand ITC', sans-serif;
}

.box-img{
	width: 900px;
	height: 350px;
	margin-top: 2%;
	border-radius: 40px;	
}	

.info{
	width: 950px;
	height: 400px;
	background: rgba(0, 0, 0, 0.1);
	text-align: center;
	margin: auto;
	margin-top: 1%;
	margin-left: 15%;
	color: black;
	font-family: 'Bradley Hand ITC', sans-serif;
}

.info h1{
	font-family: 'Bradley Hand ITC', sans-serif;
	margin-top: 5%;
}

.info p{
	font-family: 'Comic sans MS', sans-serif;
	font-size: 15px;
}

.fam {
	width: 950px;
	height: 300px;
	background: rgba(0, 0, 0, 0.1);
	text-align: center;
	margin: auto;
	margin-top: 1%;
	margin-left: 15%;
	color: black;
	font-family: 'Bradley Hand ITC', sans-serif;
}

.fam h1{
	font-family: 'Bradley Hand ITC', sans-serif;
	margin-top: 5%;
}

.fam p{
	font-family: 'Comic sans MS', sans-serif;
	font-size: 15px;
}

.educ{
	width: 950px;
	height: 280px;
	background: rgba(0, 0, 0, 0.1);
	margin: auto;
	margin-top: 1%;
	margin-left: 15%;
	color: black;
	font-family: 'Bradley Hand ITC', sans-serif;
	text-align: center;
	}
}

.educ h1{
	font-family: 'Bradley Hand ITC', sans-serif;
	margin-top: 5%;
}

.educ p{
	font-family: 'Comic sans MS', sans-serif;
	font-size: 15px;
}

.skills{
	width: 950px;
	height: 300px;
	background: rgba(0, 0, 0, 0.1);
	margin: auto;
	margin-top: 1%;
	margin-left: 15%;
	color: black;
	font-family: 'Bradley Hand ITC', sans-serif;
	text-align: center;
	margin-bottom: 3%;
	margin-bottom: 3%;
	}
}

.skills h1{
	font-family: 'Bradley Hand ITC', sans-serif;
	margin-top: 5%;
}

.skills p{
	font-family: 'Comic sans MS', sans-serif;
	font-size: 15px;
}
